.div_cab {
    position: absolute;
    height: 70px;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: white;
}
.logo_cab {
    height: 65px;

}
.txt_cab{
    font-size: x-large;
    float: right;
    margin-right: 3%;
    margin-top: 20px;
    word-spacing: 10px;
}
.div_body{
    height: 600px;
    width: 600px;
    color: black;
    background-color: white;
    margin-top: 200px;
    font-size: medium;
    
}
.btn_calc{
    height: 30px;
    width: 100px;
    background-color: rgb(20, 20, 20);
    color: white;
}
.body_background{
    background:url("img_fundo.jpg");
    

}